/*ustawienia body dołączone do każdego widoku*/
body{
    text-align: center;
    background-color: gray;
}

header{
    height: 50px;
    background-color: rgba(11, 11, 11, 0.61);
}
a{
    margin-top: 9px;
    display: inline-block;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    margin-right: 10px;
}
.levelLink{
    width: 48px;
    background-color: gray;
}
#registerLink{
}
#loginLink{

}
#logoutLink{

}
