/*game.jsp*/
body{
    text-align: center;
}
table{
    border-collapse: collapse;
    border-spacing: 0px 0px;

    margin-right: auto;
    margin-left: auto;
}
table, td, th{
    border: 1px solid black;
}
.tabDiv{
    display: inline-block;
    width: 300px;
}
button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: green;
    border: 1px solid black;
}
/*header.jsp*/
header{
    width: 100%;
    height: 60px;
    background-color: darkslategray;
}
header a{
    margin: 14px 5px;
    display: inline-block;
    height: 30px;
    width: 46px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    color: black;
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
}
header a:hover{
    opacity: 1;
    transition: opacity .5s ease-in-out;
}
header h3{
    margin: auto 10px;
    display: inline-block;
}
#user{
    float: right;
    width: 30px;
    height: 30px;

}
#logoutLink, #loginLink, #registerLink{
    width: 130px;
    float: right;
    font-size: 20px;
    background-color:  red;
    opacity: 0.7;
    transition: opacity .5s ease-in-out;
}
#loginLink, #registerLink{
    background-color: green;
}
#logoutLink:hover, #loginLink:hover, #registerLink:hover{
    opacity: 1;
    transition: opacity .5s ease-in-out;
}
/*login.jsp register.jsp*/
.error{
    color: red;
}
.success{
    color: green;
}

