/*pola edycji*/
#redZone{
    display: inline-block;
    border: 2px solid red;
    border-radius: 5px;
    background-color: gray;

    width: 200px;
    padding-bottom: 9px;
    margin-bottom: 10px;
}
#redZone a{
    background-color: red;
}

/*tabela*/
.tabDiv{
    display: inline-block;
}
table{
    border-collapse: collapse;
}
table, td, tr{
    border: 1px solid black;
}
table td{
    text-align: right;
}
#top10Level{
    background-color: dodgerblue;
}
.green{
    color: green;
}
.red{
    color: red;
}
.tabDiv tr:first-child td{
    width: 65px;
    cursor: pointer;
    text-align: left;
}
